In [1]:
import pandas as pd

# Load the training dataset
train = pd.read_csv("train.csv")

# Show info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
train["Age"].fillna(train["Age"].median, inplace=True)

/var/folders/_x/3bgtrc2n7xq2_t4mj7vb7bd00000gn/T/ipykernel_62577/13095660.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '<bound method Series.median of 0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64>' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  train["Age"].fillna(train["Age"].median, inplace=True)

In [5]:
train["Age"].fillna(train["Age"].median, inplace=True)

In [6]:
train[

SyntaxError: incomplete input (1725616479.py, line 1)

In [7]:
train["Embarked"].fillna(train["Embarked"].mode()[0], inplace=True)

/var/folders/_x/3bgtrc2n7xq2_t4mj7vb7bd00000gn/T/ipykernel_62577/3171342648.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train["Embarked"].fillna(train["Embarked"].mode()[0], inplace=True)

In [8]:
train["Embarked"].fillna(train["Embarked"].mode()[0], inplace=True)

In [9]:
train.drop("Cabin", axis=1, inplace=True)

In [10]:
train["Embarked"].isnull().sum()

np.int64(0)

In [11]:
train["Sex"] = train["Sex"].map({"male": 0, "female": 1})

In [12]:
train = pd.get_dummies(train, columns=["Embarked"], drop_first=True)

In [13]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_Q,Embarked_S
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,False,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,False,False
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,False,True
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,False,True
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,False,True

In [14]:
train.groupby("SibSp")["Survived"].mean()

SibSp
0    0.345395
1    0.535885
2    0.464286
3    0.250000
4    0.166667
5    0.000000
8    0.000000
Name: Survived, dtype: float64

In [15]:
train.groupby("Parch")["Survived"].mean()

Parch
0    0.343658
1    0.550847
2    0.500000
3    0.600000
4    0.000000
5    0.200000
6    0.000000
Name: Survived, dtype: float64

In [16]:
train.groupby("Fare")["Survived"].mean()

Fare
0.0000      0.066667
4.0125      0.000000
5.0000      0.000000
6.2375      0.000000
6.4375      0.000000
              ...
227.5250    0.750000
247.5208    0.500000
262.3750    1.000000
263.0000    0.500000
512.3292    1.000000
Name: Survived, Length: 248, dtype: float64

In [17]:
train.groupby("Sex")["Survived"].mean()
train.groupby("Age")["Survived"].mean()
train.groupby("SibSp")["Survived"].mean()

TypeError: '<' not supported between instances of 'method' and 'float'

In [1]:
# Define age bins and labels
bins = [0, 12, 18, 35, 50, 80]  # Age ranges
labels = ["Child", "Teen", "Young Adult", "Adult", "Senior"]

# Create a new column 'AgeGroup'
train["AgeGroup"] = pd.cut(train["Age"], bins=bins, labels=labels)

# Check survival rates by Age Group
train.groupby("AgeGroup")["Survived"].mean()

NameError: name 'pd' is not defined

In [2]:
import pandas as pd

# Define age bins and labels
bins = [0, 12, 18, 35, 50, 80]  # Age ranges
labels = ["Child", "Teen", "Young Adult", "Adult", "Senior"]

# Create a new column 'AgeGroup'
train["AgeGroup"] = pd.cut(train["Age"], bins=bins, labels=labels)

# Check survival rates by Age Group
train.groupby("AgeGroup")["Survived"].mean()

NameError: name 'train' is not defined

In [3]:
import pandas as pd

# Reload train.csv
train = pd.read_csv("train.csv")

# Check if it's loaded
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# Fill missing Age values with the median
train["Age"].fillna(train["Age"].median(), inplace=True)

# Fill missing Embarked values with the most common value (mode)
train["Embarked"].fillna(train["Embarked"].mode()[0], inplace=True)

# Drop the Cabin column since it has too many missing values
train.drop("Cabin", axis=1, inplace=True)

/var/folders/_x/3bgtrc2n7xq2_t4mj7vb7bd00000gn/T/ipykernel_64514/3146903448.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train["Age"].fillna(train["Age"].median(), inplace=True)
/var/folders/_x/3bgtrc2n7xq2_t4mj7vb7bd00000gn/T/ipykernel_64514/3146903448.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train["Embarked"].fillna(train["Embarked"].mode()[0], inplace=True)

In [5]:
train["Embarked"].isnull().sum()

np.int64(0)

In [6]:
# Convert 'Sex' column to numeric (0 = male, 1 = female)
train["Sex"] = train["Sex"].map({"male": 0, "female": 1})

# One-hot encode 'Embarked' (turn C, Q, S into separate columns)
train = pd.get_dummies(train, columns=["Embarked"], drop_first=True)

In [7]:
# Create Age Groups
bins = [0, 12, 18, 35, 50, 80]  # Age ranges
labels = ["Child", "Teen", "Young Adult", "Adult", "Senior"]
train["AgeGroup"] = pd.cut(train["Age"], bins=bins, labels=labels)

# Create Fare Groups
train["FareGroup"] = pd.qcut(train["Fare"], 4, labels=["Low", "Medium", "High", "Very High"])

In [8]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked_Q,Embarked_S,AgeGroup,FareGroup
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,False,True,Young Adult,Low
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,False,False,Adult,Very High
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,False,True,Young Adult,Medium
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,False,True,Young Adult,Very High
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,False,True,Young Adult,Medium

In [9]:
train = pd.get_dummies(train, columns=["AgeGroup", "FareGroup"], drop_first=True)

In [10]:
print(train.info())  # Should show only numerical columns
print(train.head())  # Preview the first few rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   PassengerId           891 non-null    int64
 1   Survived              891 non-null    int64
 2   Pclass                891 non-null    int64
 3   Name                  891 non-null    object
 4   Sex                   891 non-null    int64
 5   Age                   891 non-null    float64
 6   SibSp                 891 non-null    int64
 7   Parch                 891 non-null    int64
 8   Ticket                891 non-null    object
 9   Fare                  891 non-null    float64
 10  Embarked_Q            891 non-null    bool
 11  Embarked_S            891 non-null    bool
 12  AgeGroup_Teen         891 non-null    bool
 13  AgeGroup_Young Adult  891 non-null    bool
 14  AgeGroup_Adult        891 non-null    bool
 15  AgeGroup_Senior       891 non-null    bool
 16  FareGroup_Medium      891 non-null    bool
 17  FareGroup_High        891 non-null    bool
 18  FareGroup_Very High   891 non-null    bool
dtypes: bool(9), float64(2), int64(6), object(2)
memory usage: 77.6+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name  Sex   Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris    0  22.0      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...    1  38.0      1      0
2                             Heikkinen, Miss. Laina    1  26.0      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)    1  35.0      1      0
4                           Allen, Mr. William Henry    0  35.0      0      0

             Ticket     Fare  Embarked_Q  Embarked_S  AgeGroup_Teen  \
0         A/5 21171   7.2500       False        True          False
1          PC 17599  71.2833       False       False          False
2  STON/O2. 3101282   7.9250       False        True          False
3            113803  53.1000       False        True          False
4            373450   8.0500       False        True          False

   AgeGroup_Young Adult  AgeGroup_Adult  AgeGroup_Senior  FareGroup_Medium  \
0                  True           False            False             False
1                 False            True            False             False
2                  True           False            False              True
3                  True           False            False             False
4                  True           False            False              True

   FareGroup_High  FareGroup_Very High
0           False                False
1           False                 True
2           False                False
3           False                 True
4           False                False

In [11]:
train.drop(["PassengerId", "Name", "Ticket", "Age", "Fare"], axis=1, inplace=True)

In [12]:
train = train.astype(int)

In [13]:
print(train.info())  # Ensure all columns are numerical
print(train.head())  # Preview dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Survived              891 non-null    int64
 1   Pclass                891 non-null    int64
 2   Sex                   891 non-null    int64
 3   SibSp                 891 non-null    int64
 4   Parch                 891 non-null    int64
 5   Embarked_Q            891 non-null    int64
 6   Embarked_S            891 non-null    int64
 7   AgeGroup_Teen         891 non-null    int64
 8   AgeGroup_Young Adult  891 non-null    int64
 9   AgeGroup_Adult        891 non-null    int64
 10  AgeGroup_Senior       891 non-null    int64
 11  FareGroup_Medium      891 non-null    int64
 12  FareGroup_High        891 non-null    int64
 13  FareGroup_Very High   891 non-null    int64
dtypes: int64(14)
memory usage: 97.6 KB
None
   Survived  Pclass  Sex  SibSp  Parch  Embarked_Q  Embarked_S  AgeGroup_Teen  \
0         0       3    0      1      0           0           1              0
1         1       1    1      1      0           0           0              0
2         1       3    1      0      0           0           1              0
3         1       1    1      1      0           0           1              0
4         0       3    0      0      0           0           1              0

   AgeGroup_Young Adult  AgeGroup_Adult  AgeGroup_Senior  FareGroup_Medium  \
0                     1               0                0                 0
1                     0               1                0                 0
2                     1               0                0                 1
3                     1               0                0                 0
4                     1               0                0                 1

   FareGroup_High  FareGroup_Very High
0               0                    0
1               0                    1
2               0                    0
3               0                    1
4               0                    0

In [14]:
from sklearn.tree import DecisionTreeClassifier

ModuleNotFoundError: No module named 'sklearn'

In [15]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'sklearn'

In [16]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-macosx_12_0_arm64.whl.metadata (31 kB)
Requirement already satisfied: numpy>=1.19.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from scikit-learn) (2.2.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Downloading scipy-1.15.2-cp312-cp312-macosx_14_0_arm64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.5.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-macosx_12_0_arm64.whl (11.2 MB)
    11.2/11.2 MB 7.5 MB/s eta 0:00:00 MB/s eta 0:00:0101
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Downloading scipy-1.15.2-cp312-cp312-macosx_14_0_arm64.whl (22.4 MB)
    22.4/22.4 MB 9.0 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading threadpoolctl-3.5.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.5.0

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import numpy as np

ModuleNotFoundError: No module named 'matplotlib'

In [19]:
pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.10.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.1-cp312-cp312-macosx_11_0_arm64.whl.metadata (5.4 kB)
Collecting cycler>=0.10 (from matplotlib)
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.56.0-cp312-cp312-macosx_10_13_universal2.whl.metadata (101 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Downloading kiwisolver-1.4.8-cp312-cp312-macosx_11_0_arm64.whl.metadata (6.2 kB)
Requirement already satisfied: numpy>=1.23 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (2.2.3)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (10.4.0)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Downloading pyparsing-3.2.1-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)
Downloading matplotlib-3.10.1-cp312-cp312-macosx_11_0_arm64.whl (8.0 MB)
    8.0/8.0 MB 8.6 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Downloading contourpy-1.3.1-cp312-cp312-macosx_11_0_arm64.whl (255 kB)
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.56.0-cp312-cp312-macosx_10_13_universal2.whl (2.7 MB)
    2.7/2.7 MB 7.8 MB/s eta 0:00:00[31m7.3 MB/s eta 0:00:01
Downloading kiwisolver-1.4.8-cp312-cp312-macosx_11_0_arm64.whl (65 kB)
Downloading pyparsing-3.2.1-py3-none-any.whl (107 kB)
Installing collected packages: pyparsing, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.3.1 cycler-0.12.1 fonttools-4.56.0 kiwisolver-1.4.8 matplotlib-3.10.1 pyparsing-3.2.1

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.